table{
    background-color: rgb(248, 125, 8);
}
input{
    width: 100%; 
    box-sizing: border-box;
}
body{
    background-image: url(fundo.png);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    width: 100%;  
}
img{
    width: 50px;
}
address{
    color: white;
}




